<h1>Premiere League Teams</h1>

<%= @json %>

<% @scheduledgames.each do |match|%>
  <%=match.hometeam%> - <%=match.awayteam%>  <%=match.homebet%> -  <%=match.drawbet%> - <%=match.awaybet%>  <br>
<%end%>